doctype
html
  head
    title PFLab Design Tool
    link(rel="stylesheet" href="/main.css")
    // See http://materializecss.com
    link(rel='stylesheet', href='lib/materialize/css/materialize.min.css')

    script.
      // Main Namepsace
      window.PF={};

  body
    != yield

    script(src="lib/jquery-2.2.3.min.js")
    script(src='lib/materialize/js/materialize.min.js')

    script(src="lib/fabric.js")

    // Editor functions
    script(src="js/editor/main.js")
    script(src="js/editor/text.js")
    script(src="js/editor/image-size.js")
    script(src="js/editor/new-image.js")
    script(src="js/editor/rotate-canvas.js")
