.export-overlay
  button.import Import
  br
  textarea.content

.toolbar.noselect
  .button.save Save
  a.button.add-text.modal-trigger(href="#add_text") Add Text
  .button.set-image-size Set Image Size
  
.editor
  canvas#c

!= partial("gui/text")
