.export-overlay
  button.import Import
  br
  textarea.content

.toolbar.noselect
  .button.save Save (wip)

  a.button.set-image-size.modal-trigger(href="#set_image_size") Set Canvas Size
  a.button.rotate-canvas.modal-trigger(href="#rotate_canvas") Rotate Canvas
  a.button.new-image.modal-trigger(href="#new_image") Delete All

  a.button.add-text.modal-trigger(href="#add_text") Add Title
  a.button.add-text.modal-trigger(href="#add_text") Add Text

  a.button.add-text.modal-trigger(href="#add_text") Add Shape (wip)

  a.button.add-text.modal-trigger(href="#add_text") Print (png pdf) (wip)


.editor
  canvas#c

!= partial("gui/text")
!= partial("gui/image_size")
!= partial("gui/new_image")
