.export-overlay
  button.import Import
  br
  textarea.content

.toolbar
  .button.save Save
  .button.add-text Add Text
  .button.set-image-size Set Image Size
  
.editor
  canvas#c

!= partial("gui/text")
