// Modal Structure
#set_image_size.modal
  .modal-content
    h4 Set Image Size
    .row
      form.col.s12
        .row
          .input-field.col.s6
            input#image_width.validate(placeholder='0', type='number')
            label(for='image_width') Image Width
            
          .input-field.col.s6
            input#image_height.validate(placeholder='0', type='number')
            label(for='image_height') Image Height

  .modal-footer
    a.modal-action.modal-close.waves-effect.waves-green.btn-flat.ok(href='#!') Ok
