// Modal Structure
#add_text.modal
  .modal-content
    h4 Add Text
    .row
      form.col.s12
        .row
          .input-field.col.s12
            input#text_content.validate(placeholder='Text', type='text')
            label(for='text_content') Text Contents
            
        .row          
          .input-field.col.s12
            input#fontname.validate(placeholder='Font Name', type='text')
            label(for='#fontname') Font Name
          

  .modal-footer
    a.modal-action.modal-close.waves-effect.waves-green.btn-flat.ok(href='#!') Ok
