// Modal Structure
#add_text.modal
  .modal-content
    h4 Add Text
    .row
      form.col.s12
        .row
          .input-field.col.s12
            textarea.materialize-textarea#text_content.validate(placeholder='Text', type='text')
            label(for='text_content') Text Contents

  .modal-footer
    a.modal-action.modal-close.waves-effect.waves-green.btn-flat.ok(href='#!') Ok
